services:
  app:
    build: .
    container_name: whatsapp-api
    restart: always
    shm_size: '2gb' # Crucial for Puppeteer/Chromium stability
    env_file:
      - .env
    environment:
      - PORT=3000
    expose:
      - 3000

  nginx:
    image: nginx:alpine
    container_name: whatsapp-proxy
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
